/******* Change Box Model ***************/
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
    /* This is for the varibles */
    --primary-color: #1c3e5a;
    --secondary-color: #632b15;
    --accent-color: #e7e7f0;
    --second-accent-color: #f5e9c2;
	--max-width: 1000px;
}

h1, h2, h3, h4, h5, .site-name {
	font-family: "Playfair Display", serif;
}

/* --------------------------- Page CSS --------------------------- */

body {
  background-image: url('/images/site/small_check.jpg');
  background-repeat: repeat;
  padding: 1rem 0;
}

body h1 {
	padding: 1rem;
}

@media screen and (max-width: 750px) {
	body{
		padding: 0;
	}
}

/* --------------------------- Page CSS --------------------------- */

#wrapper {
	margin: 0 auto;
	max-width: var(--max-width);
	background-color: var(--accent-color);
	border: 4px solid var(--primary-color);
	border-radius: 1rem;
}

.title {
	padding: 0.5rem;
}

@media screen and (max-width: 750px) {
	#wrapper{
		border-radius: 0;
		border: 0;
	}
}

/* --------------------------- Header CSS --------------------------- */

#top-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#top-header #tools a {
	padding: 1rem;
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
}

#top-header #tools a:hover {
	text-decoration: underline;
}

#top-header .site-name a {
	padding: 1rem;
	display: block;
	font-size: 2.5rem;
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	#top-header {
		flex-direction: column;
	}
	#top-header #tools a {
		display: block;
	}
}

/* --------------------------- Nav CSS --------------------------- */

#wrapper nav ul {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	justify-content: space-evenly;
	list-style-type: none;
	gap: 0.5rem;
	background-color: var(--primary-color);
}

/* Stretches the items in the flex */
#wrapper nav li {
	flex: 1;
}

#wrapper nav a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	cursor: pointer;
	color: var(--accent-color);
	text-align: center;
}

#wrapper nav a:hover {
	display: block;
	padding: 1rem;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--secondary-color);
}

/* --------------------------- Hero CSS --------------------------- */

.hero {
	position: relative;
	width: 100%;
	aspect-ratio: 2 / 1;
	overflow: hidden;
}

.hero img {
	width: 100%;
	height: auto;
}

.hero div {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(255, 255, 255, 0.7);
	transform: scale(1.2);
	transform-origin: top left;
	padding: 0.3rem;
	border-radius: 0.5rem;
}

.hero div a {
	text-decoration: none;
	display: block;
	padding: 1rem;
	background-color: var(--secondary-color);
	color: var(--accent-color);
	text-align: center;
	margin: 0.3rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.hero div a:hover {
	background-color: var(--primary-color);
}

@media screen and (max-width: 600px) {
    .hero div {
        transform: scale(0.8);
    }
}

/* --------------------------- Home page info sections CSS --------------------------- */

.info-sect {
	display: flex;
	flex-direction: row;
	margin: 0.3rem;
}

.info-sect h2 {
	padding: 0.5rem;
}

.info-sect section {
	flex: 1;
}

/* Upgrades */

.info-sect .upgrades ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: stretch;
	text-align: center;
	gap: 0.5rem;
}

.info-sect .upgrades a {
	background-color: var(--secondary-color);
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
	color: var(--accent-color);
	cursor: pointer;
}

.info-sect .upgrades a:hover {
	background-color: var(--primary-color);
}

/* Reviews */

.info-sect .reviews ul {
	list-style-position: inside;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media screen and (max-width: 600px) {
    .info-sect {
        flex-direction: column;
    }
}

/* --------------------------- Footer CSS --------------------------- */
footer {
	padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}

/* --------------------------- inv-display --------------------------- */
#inv-display {
	display: grid;
	gap: 1rem;
    margin: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
	justify-content: space-evenly;
	text-align: center;
}

#inv-display img {
	width: 100%;
	height: auto;
	max-width: 400px;
}

#inv-display li {
	overflow: hidden;
	border-radius: 1rem;
	background-color: var(--second-accent-color);
	border: 3px solid var(--secondary-color);
	box-shadow: 0 0 1rem var(--secondary-color);
}

#inv-display li div {
	padding: 1rem;
}

#inv-display li div {
	padding: 1rem;
}

#inv-display li div a {
	text-decoration: none;
	color: var(--primary-color);
}

#inv-display li div a:hover {
	text-decoration: underline;
}

/* --------------------------- error-message --------------------------- */
#error-message {
	margin: 1rem;
}